.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header2 {
  background-color: #000000;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #afe0ee;
}


.reports-background {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: safe baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-animation {
  animation: bounce 1s infinite alternate, changeBackground 1s infinite alternate;
  background-color: #f6dfff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes changeBackground {
  0% {
    background-color: #f84747;
  }
  100% {
    background-color: #000;
  }
} 